  <meta content="{{site.url}}/{{page.permalink}}" property="og:url">
	<meta content="article" property="og:type">
	<meta content="{{page.title}} | {% include shortname.html %}" property="og:title">
	<meta content="{{site.url}}/images/{{page.permalink}}.jpg" property="og:image">
	<meta content="«Эта»" property="og:site_name">
	<meta content="Обновлено {{ site.time | date_to_long_string }}. Это статья из “{{page.title}}” на сайте {{site.title}}." property="og:description">
	<meta content="173711889938607" property="fb:app_id">
