---
---


body {
	max-width: 100%;
	margin: auto;
	padding: 20px;
	background: white;
}

p {
	font-family: 'Verdana', serif;
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 900;
	color: black;
}

a.one:link {
	color: #4e80d8;
	font-family: 'Verdana';
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 900;
}
a.one:visited {
	color: #4e80d8;
	font-family: 'Verdana';
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 900;
}
a.one:hover {
	color: green;
	font-family: 'Verdana';
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 900;
}
a:link {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 900;
}
a:visited {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 900;
}
a:hover {
	color: green;
	text-decoration: none;
	font-weight: 900;
}
a:active {
	color: #4e80d8;
	text-decoration: none;
	font-weight: 900;
}
